<div class="dashboard-container">
  <a class="dashboard-card" routerLink="/usuarios">
    <div class="card-bg" style="background-image: url('https://i.postimg.cc/9DcPLJT4/gestion-Usuario.jpg')"></div>
    <div class="overlay"></div>
    <h2>USUARIOS</h2>
  </a>
  
  <a class="dashboard-card" routerLink="/ejercicios">
    <div class="card-bg" style="background-image: url('https://i.postimg.cc/fV5cpmj8/gestion-Entrenador.png')"></div>
    <div class="overlay"></div>
    <h2>Entrenadores</h2>
  </a>
</div>