<!-- Dashboard Admin Component HTML -->
<div class="dashboard-container">
  <a class="dashboard-card" routerLink="/admin/usuarios">
    <div class="card-bg" style="background-image: url('assets/fotos/gestionUsuario.jpg')"></div>
    <div class="overlay"></div>
    <h2>GESTIÓN DE USUARIOS</h2>
  </a>
  
  <a class="dashboard-card" routerLink="/admin/entrenadores">
    <div class="card-bg" style="background-image: url('assets/fotos/gestionEntrenador.png')"></div>
    <div class="overlay"></div>
    <h2>GESTIÓN DE ENTRENADORES</h2>
  </a>
</div>