<mat-toolbar color="primary">
  <!-- Logo izquierda -->
  <a mat-button routerLink="/" class="logo">
    GymSync
  </a>

  <!-- Espacio intermedio -->
  <span class="spacer"></span>

  <!-- Botones derecha -->
  <a mat-button routerLink="/estadisticas" routerLinkActive="active-link">
    Estadísticas/Progresos
  </a>
  <a mat-button routerLink="/temporizador" routerLinkActive="active-link">
    Temporizador
  </a>
  <a mat-button routerLink="/usuarios" routerLinkActive="active-link">
    Perfil de Usuario
  </a>
</mat-toolbar>