<div class="dashboard-container">
  <a class="dashboard-card" routerLink="/entrenador/progresos-usuarios">
    <div class="card-bg" style="background-image: url('https://i.postimg.cc/mcN00dp0/usuarios.jpg')"></div>
    <div class="overlay"></div>
    <h2>USUARIOS</h2>
  </a>
  
  <a class="dashboard-card" routerLink="/entrenador/ejercicios">
    <div class="card-bg" style="background-image: url('https://i.postimg.cc/D8Rks4bY/ejercicios.jpg')"></div>
    <div class="overlay"></div>
    <h2>EJERCICIOS</h2>
  </a>
  
  <a class="dashboard-card" routerLink="/entrenador/rutinas">
    <div class="card-bg" style="background-image: url('https://i.postimg.cc/hzDHg9Hh/rutinas.jpg')"></div>
    <div class="overlay"></div>
    <h2>RUTINAS</h2>
  </a>
</div>